// =============================================================================
//
// Name:          Box
//
// Description:   Boxes off content.
//
// Block:         `o-box`
//
// Modifiers:     `o-box--tiny`
//                `o-box--small`
//                `o-box--large`
//                `o-box--huge`
//
// Markup:
//
// <div class="o-box">...</div>
//
// <div class="o-box  o-box--large">...</div>
//
// =============================================================================





// Variables
// =============================================================================

// Predefine the variables below in order to alter and enable specific features.

$tree-box-namespace:         $tree-namespace !default;

$tree-box-padding:           $tree-base-spacing-unit !default;
$tree-box-padding--tiny:       quarter($tree-box-padding) !default;
$tree-box-padding--small:        halve($tree-box-padding) !default;
$tree-box-padding--large:       double($tree-box-padding) !default;
$tree-box-padding--huge:     quadruple($tree-box-padding) !default;

$tree-enable-box--flush:     false !default;
$tree-enable-box--tiny:      false !default;
$tree-enable-box--small:     false !default;
$tree-enable-box--large:     false !default;
$tree-enable-box--huge:      false !default;





// =============================================================================
// Block: `o-box`
// =============================================================================

// 1. So we can apply the `.o-box` class to naturally-inline elements.

.#{$tree-box-namespace}o-box {
    @extend %clearfix;
    display: block; // [1]
    padding: $tree-box-padding;

    > :last-child {
        margin-bottom: 0;
    }

}





@if ($tree-enable-box--flush == true) {

    // Modifier: `o-box--flush`
    // =========================================================================

    .#{$tree-box-namespace}o-box--flush {
        padding: 0;
    }

}

@if ($tree-enable-box--tiny == true) {

    // Modifier: `o-box--tiny`
    // =========================================================================

    .#{$tree-box-namespace}o-box--tiny {
        padding: $tree-box-padding--tiny;
    }

}

@if ($tree-enable-box--small == true) {

    // Modifier: `o-box--small`
    // =========================================================================

    .#{$tree-box-namespace}o-box--small {
        padding: $tree-box-padding--small;
    }

}

@if ($tree-enable-box--large == true) {

    // Modifier: `o-box--large`
    // =========================================================================

    .#{$tree-box-namespace}o-box--large {
        padding: $tree-box-padding--large;
    }

}

@if ($tree-enable-box--huge == true) {

    // Modifier: `o-box--huge`
    // =========================================================================

    .#{$tree-box-namespace}o-box--huge {
        padding: $tree-box-padding--huge;
    }

}
